#loader-container {
  display: inline-block;
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  background: rgba(0,0,0,0.4);
}

.loader {
    position: absolute;
    top: 30vh;
    left: calc(50% - 60px);

    border: 16px solid #f3f3f3;
    border-top: 16px solid #c50000;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}